<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Entry</title>
</head>
<body>
  <h1>Entry </h1>
  <form action="/customer/" id="customerForm" th:object="${customerForm}"  method="post">
    <table width="400" border="1">
      <tr>
        <th align="center" width="40%"><label for="serviceName">サービス名&nbsp;&nbsp;&nbsp;</label></th>
        <th align="right" style="width: 60%;"><input type="text" id="serviceName"  th:value="*{serviceName}" name="serviceName" /></th>
      </tr>
      <tr>
      </tr>
    </table>
    <br /> <br />
    <div class="reset">
      <input type="submit" name="entryConf" value="登録" style="width: 20%;" />
    </div>
  </form>
</body>
</html>
